---
import LinksSocial from "@partials/components/LinksSocial.astro";
---
<footer>
  <div class="wrapper-1440">
    <section class="footer__nav" aria-label="Navigation pied de page">
      <img
        src="/img/logo-black.svg"
        alt="logo de l'entreprise SBG Coaching"
        class="footer__logo"
      />

      <div class="footer__nav-col1">
        <h2 class="footer__nav__slogan">
          le seul mauvais entraînement est celui que l’on ne fait pas
        </h2>
        <p>
          Votre corps mérite l'effort, votre esprit mérite la discipline.
          Ensemble, nous transformerons chaque excuse en une victoire personnelle.
          Faites le premier pas, le reste suivra.
        </p>
      </div>

      <nav class="footer__nav-col2" aria-label="Liens principaux">
        <ul class="footer__nav__coaching">
          <h3>Coaching</h3>
          <li><a href="/coaching-entreprise" class="link-underline-appear">Entreprise</a></li>
          <li><a href="/coaching-general" class="link-underline-appear">Général</a></li>
          <li><a href="/coaching-sportif-video" class="link-underline-appear">Programmes</a></li>
        </ul>

        <ul class="footer__nav__informations">
          <h3>Informations</h3>
          <li class="nav__informations__item1"><a href="/" class="link-underline-appear">Accueil</a></li>
          <li class="nav__informations__item2"><a href="/a-propos" class="link-underline-appear">À propos</a></li>
          <li class="nav__informations__item3"><a href="/temoignages" class="link-underline-appear">Témoignages</a></li>
          <li class="nav__informations__item4"><a href="/contact" class="link-underline-appear">Contact</a></li>
          <li class="footer__nav__rdv">
            <a href="/contact" class="link-underline-replay"><strong>Prise de rendez-vous</strong></a>
          </li>
        </ul>
      </nav>

      <div class="footer__nav-col3">
        <p class="footer__copyright">&copy; SBG Coaching 2025</p>
        <div class="footer__legal">
          <a href="/mentions-legales" class="link-underline-appear">Mentions légales</a>
          <a href="/politique-de-confidentialite" class="link-underline-appear">Conditions d'utilisation</a>
        </div>
        <LinksSocial variant="black" />
      </div>
    </section>
  </div>
</footer>
