
---
---

<div class="wrapper-1440 ">
  <section class="home__training">
    <h2 class="title">Un entraînement à votre échelle</h2>
    <p>Définissons ensemble le chemin à prendre pour répondre à vos besoins et atteindre les résultats auxquels vous aspirez.</p>
    <div class="home__training__img home__training__exemple">
      <img class="home__training__card" src="/img/home__training__card.svg" alt="exemple du profil physique d'une femme de 34 ans, d'une taille de 167 cm et d'une masse corporelle de 83 kg">
      <img class="home__training__arrow" src="/img/home__arrow.svg" alt="">
      <img class="home__training__program" src="/img/home__training__program.svg" alt="Pour répondre à son programme SBG lui propose un programme sur-mesure, de : musculation, perte de poids et revalidation">
      <img class="home__training__graph" src="/img/home__training__graph.svg" alt="En 3 mois, elle perd presque 10 kg">
    </div>
    <div class="home__training__img home__training__program ">
      <img class="home__training__program1" src="/img/program1.webp" alt="programme sur-mesure de course de 8 minutes comprenant 6 exercices">
      <img class="home__training__program2" src="/img/program2.webp" alt="prescription d'une journée type pour établir des plats adaptés selon l'heure et le profil de la personne">
    </div>
  </section>
</div>
