.coaching__hero {
	&-col1 {
		width: 100%;
		position: relative;
		left: -1px;
		margin: 0 0 2rem 0;
	}

	&__desc {
		position: relative;
	}

	&__content {
		&__bck {
			position: relative;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border: 1px solid white;
		}
	}

	&-col2 {
		padding: 24px 0 0 0;
		/* width: 100%; */
		display: flex;
		flex-direction: column;
		align-items: center;

		h2 {
			width: 100%;
			max-width: 354px;
			text-align: right;
			font-family: "Roboto", sans-serif;
			font-size: 16px;
		}

		.coaching__hero__content-secondary {
			display: block;
			width: 100%;
			max-width: 354px;
			height: 180px;
			border-radius: 5px;
			background-size: cover;
			background-position: center;
			position: relative;
			overflow: hidden;
			cursor: pointer;

			&1 {
				margin-bottom: 2rem;
			}

			* {
				display: none !important; // cache tout le contenu interne
			}
		}
	}

	#content-main {

		.coaching__hero__content__bck {
			height: 60vh;
			min-height: 370px;
			max-height: 500px;
			border: none;
			padding: 4rem 24px 24px 24px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.hero__content__btn {
			position: absolute;
			top: 36px;
			right: 24px;
			background-color: transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 2;

			&-disabled {
				opacity: .5;
			}

			button {
				height: 21px;
				width: 12px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				background-color: transparent;
			}

			span {
				font-family: "Roboto", sans-serif;
			}

			#hero__index {
				font-size: 16px;
				margin-left: 1rem;
				margin-right: 3px
			}

			#hero__index-slash {
				font-size: 10px;
				opacity: .5;
				margin-right: 1rem;
			}

			#hero__content-left {
				background-image: url("../../img/icon__left.svg");
			}

			#hero__content-right {
				background-image: url("../../img/icon__right.svg");
			}


		}

		.hero__content__cta {
			width: 100%;
			max-width: 708px;
			margin-top: 14px;
			display: flex;
			justify-content: flex-end;
		}

		p {
			padding-bottom: 0;
			width: 100%;
			max-width: 708px;
		}
	}

	#content-1 {
		/* background-image: url("../../img/entreprise__post-1.png"); */


		* {
			color: white;
		}

		h1 {
			width: 100%;
			max-width: 708px;
			
			span {
				font-family: "Roboto", sans-serif;
				font-style: italic;
				font-weight: 500;
				text-transform: initial;
				color: $primary-color;
			}
		}
	}

	#content-3 {
		border: 1px solid var(--primary-color);
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

	

	//switch avec content-3
	#content-1 .coaching__hero__content-bck3{
		 
			background-image: none;
			background-color: $secondary-color;
			h1 {
				color: $primary-color;
				padding: 0;
				font-weight: 600;
				&::before{
					display: none;
				}
			}
			p {
				color: $secondary-color;
			}
			border: 1px solid $secondary-color;
			}
		
		
	

	.coaching__hero__social {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		max-width: 354px;
		margin-top: 48px;
	}

}

@media(max-width: 450px) {
		h1 span{
				display: block;
		}
}
	


@media (min-width:$breakpoint-menu){
	.coaching__hero__content__bck{
		padding: 4rem 2rem 1.5rem 2rem !important;
		border-radius: 5px;
		video{
			border-radius: 5px;
		}
	}
}
//HERO__ENTREPRISE-768+MAX1023
@media (min-width:$breakpoint-menu) and (max-width:$breakpoint-tablet-max) {
	.wrapper-center{
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.coaching__hero-col2 {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 354px));
		grid-column-gap: 2rem;
		align-items: flex-start;
		

		>h2 {
			grid-column: 1;
			text-align: left;
		}

		#content-2 {
			grid-column: 1;
			grid-row: 2;
		}

		#content-3 {
			grid-column: 2;
			grid-row: 2;
		}

		.coaching__hero__social {
			grid-column: 2;
			grid-row: 3;
			align-items: flex-start;
			margin: 0;
		}
	}
}

@media (max-width: $breakpoint-tablet-max) {
	/* .coaching__hero__video .video-wrapper {
	  position: relative;
  
	  &::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30%;
		background: linear-gradient(to bottom, black, transparent);
		pointer-events: none;
		z-index: 1;
	  }
  
	  video {
		position: relative;
		z-index: 0;
	  }
	} */
  }
//HERO__ENTREPRISE-1024
@media (min-width: 1024px) {
	.coaching__hero {
		display: grid;
		grid-template-columns: 65% 35%;
		

		&-col1 {
			width: 100%;
			border-radius: 5px;
			padding-right: 2rem;
		}

		&-col2 {
			padding: 0;
			display: flex;
			align-items: flex-end;
			position: relative;

			>h2 {
				text-align: right;
				position: absolute;
				top: -2.5rem;
				opacity: .8;
			}
		}
	}

	@media(min-width: 1024px) and (max-width: 1100px) {
		.coaching__hero__content-primary {
			h1 span{
					display: block;
			}
		}
	}
	/* .coaching__hero__video .video-wrapper {
		position: relative;
	  
		&::after {
		  content: '';
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 30%;
		  background: linear-gradient(to top, transparent, $secondary-color);
		  opacity: 0.3;
		  pointer-events: none;
		  z-index: 1;
		}
	  
		video {
		  position: relative;
		  z-index: 0;
		}
	  } */
}

//slide 2

.coaching__hero__video {
	padding: 0 !important;
	background: black;
	.video-wrapper {
		border-radius: 5px;
		position: relative;
		width: 100%;
		aspect-ratio: 16 / 9;
		background: black;
		overflow: hidden;
	  
		> video {
		  width: 100%;
		  height: 100%;
		  background-color: transparent;
		  object-fit: cover;
		  display: block;
		}
	  
	}

	.coaching__hero__video .video-wrapper {
	  position: relative;
  
	  &::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30%;
		background: linear-gradient(to bottom, black, transparent);
		pointer-events: none;
		z-index: 1;
	  }
  
	  video {
		position: relative;
		z-index: 0;
	  }
	}
  }

  .coaching__hero__video .video-wrapper {
	position: relative;

	&::after {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 20%;
	  background: linear-gradient(to bottom, black, transparent);
	  pointer-events: none;
	  z-index: 1;
	}

	video {
	  position: relative;
	  z-index: 0;
	}
  }

  //slide 3
  .coaching__hero__content-primary {
	background-color: $secondary-color;
	color: white;
  
	h1, p, a, span {
	  color: white;
	  
	  
	}

	h1{
		padding: 0!important;
		
	}
  
	}
  
  /* Classes pour les backgrounds */
  body[data-page="coaching-entreprise"] {
	.coaching__hero__content-bck1 {
		background-image: url("../../img/entreprise__post-1.png");
		
		}
	
		.coaching__hero__content-bck2 {
		background-image: url("../../img/entreprise__post2.png");
		}
	
		.coaching__hero__content-bck3 {
		background-image: url("../../img/entreprise__post3.svg");
		}
	}