---
import LinksSocial from "@partials/components/LinksSocial";
import ContactForm from "@partials/components/ContactForm.tsx";
import LazyFadeIn from "@partials/performance/LazyFadeIn";
---

<footer>
  <LazyFadeIn client:load>
  <div class="wrapper-982 ">
    <section id="contact__info" class="contact__info section-height90">
      <h2 class="title">Contactez-moi</h2>
      <p>Pour toutes informations, voici les coordonnées de SBG Coaching :</p>

      <ul aria-label="Mes différents moyens de contact">
        <li class="contact__info__item contact__info__mail">
          <a href="mailto:info@sbgcoaching.be" class="contact__link link-underline-replay ">info@sbgcoaching.be</a>
        </li>
        <li class="contact__info__item contact__info__phone">
          <a href="tel:0494205075" class="contact__link">0494 20 50 75</a>
        </li>
        <li class="contact__info__item contact__info__map">
          Route de Yernée 264, 4480 Engis
        </li>
      </ul>

      <div class="contact__info__iframe">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2535.447894064328!2d5.338040776833654!3d50.544440180591536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c1aabcf7c0482d%3A0xf7bb9c0d8fdde17c!2sRte%20de%20Yern%C3%A9e%20264%2C%204480%20Engis%2C%20Belgique!5e0!3m2!1sfr!2sfr!4v1737715092033!5m2!1sfr!2sfr"
          width="100%"
          height="450"
          style="border:0;"
          allowfullscreen
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>

      <div class="contact__info__social">
        <p>Rejoignez-nous !</p>
        <LinksSocial variant="black" />
      </div>
    </section>
  </div>
  </LazyFadeIn>

  <!-- 📨 Formulaire React dynamique -->
  <LazyFadeIn client:load>
  <ContactForm client:load />
  </LazyFadeIn>
  <LazyFadeIn client:load>
  <div class="wrapper-982 ">
    <section class="footer__nav">
      <img
        src="/img/logo-black.svg"
        alt="logo de l'entreprise SBG Coaching"
        class="footer__logo"
      />

      <div class="footer__nav-col1">
        <h2 class="footer__nav__slogan">
          le seul mauvais entraînement est celui que l’on ne fait pas
        </h2>
        <p>
          Votre corps mérite l'effort, votre esprit mérite la discipline.
          Ensemble, nous transformerons chaque excuse en une victoire personnelle.
          Faites le premier pas, le reste suivra.
        </p>
      </div>

      <nav class="footer__nav-col2">
        <ul class="footer__nav__coaching">
          <h3>Coaching</h3>
          <li><a href="/coaching-entreprise" class="link-underline-appear">Entreprise</a></li>
          <li><a href="/coaching-general" class="link-underline-appear">Général</a></li>
          <li><a href="/coaching-sportif-video" class="link-underline-appear">Vidéos</a></li>
        </ul>

        <ul class="footer__nav__informations">
          <h3>Informations</h3>
          <li class="nav__informations__item1"><a href="/" class="link-underline-appear">Accueil</a></li>
          <li class="nav__informations__item2"><a href="/a-propos" class="link-underline-appear">À propos</a></li>
          <li class="nav__informations__item3"><a href="/temoignages" class="link-underline-appear">Témoignages</a></li>
          <li class="nav__informations__item4"><a href="/contact" class="link-underline-appear">Contact</a></li>
          <li class="footer__nav__rdv">
            <a href="/contact" class="link-underline-replay"><strong>Prise de rendez-vous</strong></a>
          </li>
        </ul>
      </nav>

      <div class="footer__nav-col3">
        <p class="footer__copyright">&copy; SBG Coaching 2025</p>
        <div class="footer__legal">
          <a href="/mentions-legales" class="link-underline-appear">Mentions légales</a>
          <a href="/politique-de-confidentialite" class="link-underline-appear">Conditions d'utilisation</a>
        </div>
        <LinksSocial variant="black" />
      </div>
    </section>
  </div>
  </LazyFadeIn>
</footer>
