---
// Rien à importer ici si tu ne passes pas de props
---
<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="/" class="header__logo-link">
        <img id="menu__logo" src="/img/logo.svg" alt="Logo SBG" />
      </a>
    </div>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <span>coaching</span>
          <a href="/entreprise" class="header__nav-link link-underline-appear">Entreprise</a>
        </li>
        <li class="header__nav-item">
          <span>coaching</span>
          <a href="/general" class="header__nav-link link-underline-appear">Général</a>
        </li>
      </ul>
    </nav>

    <button class="header__btn__menu menu__toggle" aria-label="Ouvrir le menu">
      <img id="menu__icon" src="/img/icon__burger.svg" alt="Ouvrir le menu" />
    </button>
  </div>
</header>

<div class="menu">
  <button class="menu__close" aria-label="Fermer le menu">
    <img src="/img/icon__close.svg" alt="Fermer le menu" />
  </button>

  <nav class="menu__nav">
    <section class="menu__section">
      <h2 class="menu__title">Informations</h2>
      <ul class="menu__list">
        <li class="menu__item"><a href="/" class="menu__link link-underline-appear">Accueil</a></li>
        <li class="menu__item"><a href="/testimonials" class="menu__link link-underline-appear">Témoignages</a></li>
        <li class="menu__item"><a href="/about" class="menu__link link-underline-appear">À Propos</a></li>
        <li class="menu__item"><a href="/contact" class="menu__link link-underline-appear">Contact</a></li>
        <li class="menu__item menu__item__rdv"><a href="/contact" class="menu__link link-underline-replay">Prise de rendez-vous</a></li>
      </ul>
    </section>

    <section class="menu__section">
      <h2 class="menu__title">Coaching</h2>
      <ul class="menu__list">
        <li class="menu__item"><a href="/entreprise" class="menu__link link-underline-appear">Entreprise</a></li>
        <li class="menu__item"><a href="/program" class="menu__link link-underline-appear">Programmes</a></li>
        <li class="menu__item "><a href="/general" class="menu__link link-underline-appear">Général</a></li>
      </ul>
    </section>

    <section class="menu__section menu__section__profil">
      <h2 class="menu__title">Mon espace</h2>
      <ul class="menu__list">
        <li class="menu__item menu__item__program"><a href="#my-programs" class="menu__link link-underline-appear">Mes programmes</a></li>
        <li class="menu__item menu__item__info"><a href="#my-info" class="menu__link link-underline-appear">Mes informations</a></li>
        <li class="menu__item menu__item__disconnect"><a href="#logout" class="menu__link link-underline-appear">Se déconnecter</a></li>
      </ul>
    </section>

    <astro:component src="/components/__links-social-menu.astro" />
  </nav>
</div>
