---
const currentPage = Astro.props.currentPage || 'index';
---
<div class="wrapper-1440-black">
	<div class="subWrapper-col2  ">
    <section class="hero scroll-reveal ">
			<div class="hero__content">
				<h1 class="hero__title title">Le seul mauvais entraînement est celui que l'on ne fait pas</h1>
				<p class="hero__subtitle">Votre corps mérite l'effort, votre esprit mérite la discipline. Ensemble, nous transformerons chaque excuse en une victoire personnelle. Faites le premier pas, le reste suivra.</p>
				<div class="hero__photo"></div>
				<a href="/contact" class="hero__cta button button-red" aria-label="prendre rendez-vous">Prendre rendez-vous</a>
			</div>

		</section>

    <section class="gallery scroll-reveal">
			<h2 class="gallery__title">Actualité</h2>
			<div class="gallery__grid">
				<div class="gallery__item gallery__item-new">
					<a href="https://instagram.com/post1" target="_blank" class="gallery__button">Voir</a>
				</div>
				<div class="gallery__item gallery__item-mid">
					<a href="https://instagram.com/post2" target="_blank" class="gallery__button">Voir</a>
				</div>
				<div class="gallery__item gallery__item-last">
					<a href="https://instagram.com/post3" target="_blank" class="gallery__button">Voir</a>
				</div>
				<div class="gallery__social">
          <!-- Icônes sociales ici -->
        </div>
      </div>
    </section>
  </div>
</div>
