@use "../abstracts/tokens" as t;

/* Minimal reset */
*,*::before,*::after{ box-sizing: border-box; }
html { font-size: t.$font-size-root; }

body {
  margin: 0;
  background: t.$color-surface;
  color: t.$color-text;
  font-family: t.$font-family-base;
}

img,svg,video{
  display: block;
  height: auto;
  max-width: 100%;
}

button,input,select,textarea{ font: inherit; }
