// @use "@scss/abstracts/globals" as *;
@use "../abstracts/tokens" as t;

/* Minimal reset */
:root { font-size: 100%; }
*,*::before,*::after{ box-sizing: border-box; }
html, body { height: 100%; }
html { font-size: t.$font-size-root; }

body {
  margin: 0;
  font-family: t.$font-family-base;
  background: t.$color-bg;
  color: t.$color-text;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

img,picture,video,canvas,svg {
  display: block;
  max-inline-size: 100%;
  height: auto;
}

input,button,textarea,select { font: inherit; }
