@use "../abstracts/tokens" as t;

body { line-height: 1.6; }

h1,h2,h3,h4,h5,h6 {
  margin: 0 0 t.$space-md;
  line-height: 1.2;
  font-family: t.$font-family-accent;
}

p {
  margin: 0 0 t.$space-md;
  color: t.$color-text;
}
