---
import { Link } from 'astro';

const title = "À veniR";
---

<div class="wrapper-1440-black">
  <section class="program__hero">
    <h1>
      <Link href="/" >{title}</Link>
    </h1>
  </section>
</div>
```