---
/* Pas de logique dynamique ici, juste du HTML static */
---

<div class="wrapper-982 scroll-reveal">
  <section class="message">
    <div class="message__container">
      <h2 class="message__title title">Comment SBG vous accompagne&nbsp;?</h2>
      <p class="message__text">
        <em>
          Nous croyons fermement que le succès dans le sport, comme dans la vie, réside dans la régularité et la détermination. <br />
          Chaque session est une nouvelle chance d’avancer et de grandir.<br />
          Nous sommes là pour vous aider à donner le meilleur de vous-même, à votre rythme, sans pression inutile, mais avec le soutien et la motivation nécessaires pour aller toujours un peu plus loin.
        </em>
      </p>
      <div class="message__logo">
        <img src="/img/logo-black.svg" alt="Logo SBG Coaching" />
      </div>
    </div>
  </section>
</div>
