---
---
<div class="wrapper-982-black ">
	<section class="convictions scroll-reveal">
		<div class="convictions__container">
			<h2 class="convictions__title title">MES CONVICTIONS</h2>

			<div class="convictions__slogan">
				<div class="slogan__wrapper">
					<p class="slogan__text">
						Le seul mauvais entraînement est celui que l’on ne fait pas.
					</p>
				</div>
			</div>

			<div class="convictions__intro">
				<span class="convictions__dot"></span>
				<span class="convictions__label">Ce que cela signifie pour nous</span>
			</div>

			<div class="convictions__grid">
				<div class="convictions__item">
					<h3 class="convictions__item-title">Un pas après l’autre</h3>
					<p class="convictions__item-text">
						Même un entraînement rapide vaut mieux que de rester inactif. Avec chaque effort, vous progressez.
					</p>
				</div>
				<div class="convictions__item">
					<h3 class="convictions__item-title">La constance avant tout</h3>
					<p class="convictions__item-text">
						Aucun entraînement n'est jamais "raté". Chaque session, même courte, vous rapproche de votre objectif et renforce votre discipline.
					</p>
				</div>
				<div class="convictions__item">
					<h3 class="convictions__item-title">Un engagement personnel</h3>
					<p class="convictions__item-text">
						En persévérant, vous vous montrez à vous-même que vous pouvez surmonter les obstacles, qu’ils soient physiques ou mentaux.
					</p>
				</div>
			</div>
		</div>
	</section>
</div>
