---
/* Optionnel : ici tu peux ajouter des variables ou récupérer des données si nécessaire */
---

<div class="wrapper-1440">
  <section class="coaching-entreprise__improve section-height90 scroll-reveal" aria-labelledby="improve-title">
    <div class="coaching-entreprise__improve__grid">
      <h2 class="coaching-entreprise__title title">
        Des entreprises de toutes tailles
      </h2>
      <p class="coaching-entreprise__intro">
        Des entreprises de toutes tailles ont témoigné des impacts positifs du programme de SBG Coaching :
      </p>
      <div class="coaching-entreprise__improve__col1">
        <ul class="coaching-entreprise__benefits">
          <li class="coaching-entreprise__benefit">
            <span class="coaching-entreprise__label">Amélioration</span>
            <strong class="coaching-entreprise__text">La performance individuelle</strong>
          </li>
          <li class="coaching-entreprise__benefit">
            <span class="coaching-entreprise__label">Amélioration</span>
            <strong class="coaching-entreprise__text">La satisfaction générale au sein de l’équipe</strong>
          </li>
          <li class="coaching-entreprise__benefit">
            <span class="coaching-entreprise__label">Amélioration</span>
            <strong class="coaching-entreprise__text">L’ambiance de travail</strong>
          </li>
        </ul>

        <div class="coaching-entreprise__availability">
          <h3>Nous nous déplaçons jusqu’à vous :</h3>
          <p>à partir de
            <strong> 07 h 30 / pause midi / après votre travail</strong>
          </p>
          <div class="coaching-entreprise__independent">
            <h3>Pour les indépendants</h3>
            <p>SBG Coaching s’engage à vous offrir une plage horaire sur mesure afin de répondre au mieux à vos disponibilités en tant que professionnel indépendant.
            </p>
          </div>
        </div>
      </div>
      <div class="coaching-entreprise__improve__col2">
        <div class="coaching-entreprise__context">
          <p>
            <strong>Coaching sportif <span class="highlight">_Entreprise</span></strong>
            par SBG Coaching représente une opportunité exceptionnelle pour les entreprises qui souhaitent investir dans le bien-être de leurs employés et, par extension, dans leur succès global.
          </p>
          <p>
            En adoptant une approche holistique qui valorise la santé physique et mentale, SBG vous aide à forger des équipes plus fortes, plus unies et plus performantes.
          </p>
        </div>
        <img src="img/logo-black.svg" alt="Logo SBG Coaching Entreprise" class="coaching-entreprise__logo" loading="lazy">
      </div>
    </div>
  </section>
</div>
