// ===============================
// HERO + GALLERY - PAGE INDEX
// ===============================

.subWrapper-col2 {
	width: 100%;
	min-width: fit-content;
	height: 100%;
	display: flex;
	justify-content: center;
	background-color: $secondary-color;

}
.hero {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: start;
  
	&__content {
	  display: flex;
	  flex-direction: column;
	  z-index: 2;

	  h1,p{
		text-align: left;
		width: 100%;
	  }

	 
	}
  
	& * {
	  color: white;
	  z-index: 2;
	}
  
	&__title {
	  font-family: $font-secondary;
	}
  
	&__subtitle {
		font-family: "Nexa-Trial", "Roboto", sans-serif;
	}

	&__photo{
		background-image: url("../../img/hero__bck-320.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right;
		width: 100%;
		height: 50vh;
		min-height: 410px;
		max-height: 500px;
	}

	  &__cta{
		position: absolute;
		bottom: 11rem;
	  }
}
	
  
  // ===============================
  // GALLERY IN HERO
  // ===============================
  
.gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $spacing-lg 0 0 0;
	width: 100%;
  
	& * {
	  color: white;
	}
  
	&__title {
	  width: 100%;
	  max-width: 21.25rem;
	  text-transform: uppercase;
	  text-align: right;
	  font-size: 1rem;
	  margin-bottom: $spacing-md;
	  font-family: $font-primary;
	}
  
	&__grid {
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  align-items: center;

	}
  
	&__item {
	  height: 140px;
	  width: 100%;
	  max-width: 21.25rem;
	  background-repeat: no-repeat;
	  background-size: cover;
	  position: relative;
	  margin-bottom: $spacing-md;
	  border-radius: 5px;
	  border: $border-secondary-color;

	  &-new {
		background-image: url('../../img/post-new.png');
		
	  }

	  &-mid {
		background-image: url('../../img/post2.png');
	  }
  
	  &-last {
		margin-bottom: 2rem;
		background-image: url('../../img/post3.png');
	  }
  
	  .gallery__button {
		position: absolute;
		right: $spacing-sm;
		bottom: $spacing-sm;
		background-color: $secondary-color;
		border: $border-secondary-color;
		border-radius: 5px;
		padding: 0.5rem 2rem;
	  }

	  
	}
	
	&__social{
		width: 100%;
		max-width: 21.25rem;
	}
}


  // ===============================
  // HERO RESPONSIVE
  // ===============================

@include responsive-max(tablet) {
	.subWrapper-col2{
		flex-direction: column;

		.hero{
			
			&__content {
				width: 100%;
				align-items: start;
				padding: 0 0 2rem 0;
			  }
		}

		.gallery__grid{
			max-width: 691px;
		}
	}
  }

  @media (min-width: $breakpoint-menu){

	.hero__cta{		
		right: 7rem;
	}

	.gallery{
		align-items: end;
  	}
	  .gallery__grid{
		align-items: end;
	  }
  
  }

  @media (min-width: $breakpoint-menu) and (max-width: $breakpoint-tablet-max) {
	.hero{
		&__content{
			h1,p{
				width: 70%;
			}
		}
	}
	
	.gallery__title{
		max-width: 100%;
	}

	.gallery__grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 16px;
		justify-items: end;
		max-width: 691px;

		.gallery__item{
			&-new {
				grid-column: 1;
			  }
	
			  &-mid {
				grid-column: 2;
			  }
	
			  &-last {
				grid-column: 2;
			  }
		}

		.gallery__social{
			grid-column: 2;
			
		}
	}
}

  @include responsive(tablet) {
	.subWrapper-col2{
		display: grid;
		grid-template-columns: 50% 50%;
		
		.hero{
			&__photo{
				position: absolute;
				bottom: -3rem;
				background-image: url("../../img/hero__bck-768.png");
				background-position: center;
				height: 700px;
				z-index: 1;
				right: -52%;
				
			}

			&__cta{
				right: 6rem;
			}
		}
		.gallery{
			z-index: 2;
		}
		
	}
}

 /*  @include responsive(desktop) {
	.hero{
		
	}
	

	
  }  */