@use "../../../abstracts" as *;


.testimonials-last{
	.testimonials__wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}

	.testimonials__wrapper__col1, .testimonials__wrapper__col2{
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

	.testimonial__item {
		position: relative;
		width: 100%;
		max-width: 380px;
		transition: transform 0.3s ease-in-out;
		overflow: hidden;
		cursor: pointer;

		&:hover {
			transform: scale(1.02);
		}

		&__image {
			width: 100%;
  			height: 300px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 5px;
		  }

		&__button {
			position: relative;
			top: -6px;
			display: flex;
			align-items: center;
			width: 100%;
			padding: 20px 0 10px;
			border: none;
			border-radius:  0 0 5px 5px;
			box-shadow: 0 -20px 20px rgb(0 0 0 / 50%);
			background-color: $secondary-color;
			color: white;
			font-size: 16px;
			cursor: pointer;
			text-decoration: underline;
			flex-direction: column;


			/* &:hover {
				background-color: rgba(255, 255, 255, 0.3);
			} */

			&-active {
				padding: 20px 0 40px;
				color: rgb(255 255 255 / 20%);


				.testimonial__item__arrow {
					transition: transform 0.3s ease-in-out;
					transform: rotate(180deg);
				}
			}
		}

		&__arrow {
			display: block;
			width: 20px;
			height: 20px;
			background-image: url("../../img/icon__testimonial.svg");
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			margin-top: 5px;
		}



		&__content {
			position: relative;
			top: -20px;
			height: 0;
			padding: 0 20px 8px;
			border-radius: 0 0 10px 10px;
			background-color: $secondary-color;
			transition: height 0.3s ease-in-out;
			opacity: 0;

			&-active {
				height: auto;
				opacity: 1;
			}

			header {
				margin: 0 0 1rem;

				>div {
					display: flex;
					flex-direction: column;
					height: fit-content;

					h3 {
						margin: 0;
						color: white;
						font-size: 24px;
						font-weight: bold;
						text-transform: uppercase;
						font-family: Nexa, Roboto, sans-serif;
						font-style: italic;
						padding-right: 10px;

					}

					span {
						padding: 4px 0 0;
						color: white;
						font-family: Roboto, sans-serif;
					}
				}

				>span {
					color: $primary-color;
					font-weight: bold;
					font-family: Roboto, sans-serif;

				}
			}

			p {
				padding: 0 0 8px;
				color: white;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}


	}


	@media (max-width: $breakpoint-mobile-max) {
		.testimonial__item {
			margin-bottom: 3rem;
		}

		.testimonials__wrapper__col2{
			.testimonial__item:last-child {
				margin-bottom: 0;
			}
		}

	}

	/// TESTIMONIALS-768
	@media (min-width: $breakpoint-mobile) {
		.testimonials {
			&__wrapper {
				flex-direction: row;
				justify-content: center;
				align-items: flex-start;

				.testimonial__item:not(:last-child) {
					margin-bottom: 1.8rem;
				}

				&__col1 {
					padding-right: 2.5rem;
				}
			}
		}

		.testimonial__item__content{
			padding: 0 24px 20px;
		}
	}

	/// TESTIMONIALS-1024
	@media (min-width: $breakpoint-tablet){
		.testimonials__wrapper{
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;

			&__col1, &__col2{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: flex-start;
				padding-right: 0;
			}

		.testimonial__item:not(:last-child) {
			margin-right: 2.5rem;
		}

		.testimonials__wrapper__col1{
			.testimonial__item{
				margin-bottom: 1.8rem;
			}

		}
		}
	}

	@media (min-width: $breakpoint-desktop){
		.testimonial__item__content{
			>p{
				padding-left: 1.6rem;
			}
		}

		.testimonial__item__content header{
			position: relative;
		}

		.testimonial__item__content header::before {
			position: absolute;
			bottom: -35px;
			left: 2px;
			width: 15px;
			height: 15px;
			content: '';
			background-image: url('../../img/icon__temoignage.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}
