---
import BaseLayout from "@layouts/BaseLayout.astro";
import CoachingHero from '@partials/components/CoachingHero.tsx';
import Type from '@partials/general/Type.tsx';
import Football from '@partials/general/Football.astro';
import TestimonialsPreview from "@/partials/components/TestimonialsPreview";
/* import Faq from "@partials/components/Faq.astro"; */
import LazyFadeIn from "@partials/performance/LazyFadeIn";
---

<BaseLayout
  title="Coaching Sportif Général | SBG Coaching – Santé, Bien-être et Performance"
  description="Découvrez nos programmes de coaching sportif général adaptés à tous les niveaux. SBG Coaching vous accompagne dans votre transformation physique et mentale."
  pageClass="page"
  dataPage="general"
  dataModules="coaching faq links scrollReveal"
  dataVariant="black"
  seo={{
    url: "https://sbgcoaching.be/coaching-general",
   /*  image: "/img/og-general.webp", */ // à créer ou personnaliser
    schemaType: "LocalBusiness"
  }}
>
  <main class="main">
    <h1 class="visually-hidden">Coaching sportif général</h1>
    <CoachingHero client:visible page="general" />
    <Type client:idle />
    <LazyFadeIn client:load>
    <Football />
    </LazyFadeIn>
    <LazyFadeIn client:load>
    <TestimonialsPreview client:load category="general" />
    </LazyFadeIn>
  </main>
  <!-- <LazyFadeIn client:load>
  <Faq />
  </LazyFadeIn> -->
</BaseLayout>
