---
import Layout from "@layouts/BaseLayout.astro";
import VideoGallery from "@partials/components/VideosGallery.tsx";
import Faq from "@partials/components/Faq.astro";
---

<Layout
  title="Exercices en vidéo"
  description="Des capsules vidéos courtes présentant l'exécution précise des mouvements par votre coach."
  pageClass="video-page"
  dataPage="videos"
  dataVariant="white"
>

<main id="main-content" class="main">
  <VideoGallery client:visible />
</main>
<Faq />
</Layout>
