---
import BaseLayout from "@layouts/BaseLayout.astro";
import Footer from "@partials/components/Footer.astro";
---

<BaseLayout
  title="Contact | SBG Coaching à Liège"
  description="Besoin d'un coaching sportif personnalisé ou d'une intervention en entreprise ? Contactez SBG Coaching à Liège et obtenez une réponse rapide et adaptée à vos objectifs de santé et performance."
  pageClass="page__contact"
  dataPage="contact"
  dataVariant="black"
  dataModules="links scrollReveal"
  seo={{
    url: "https://sbgcoaching.be/contact",
    /* image: "/img/og-contact.jpg", */ // à créer pour la page contact
    schemaType: "LocalBusiness"
  }}
>
  <main class="main">
    <Footer />
  </main>
</BaseLayout>
