---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Merci pour votre message" description="Confirmation d'envoi d'email – SBG Coaching"
dataVariant="white"
dataPage="thanks"
>
  <main id="main-content">
    <section class="wrapper-1440-black">
    <div class="thanks__container">
      <h1 class="thanks__title title">Merci pour votre message !</h1>
      <p class="thanks__subtitle">
        Nous avons bien reçu votre demande.<br />
        L’équipe SBG Coaching vous répondra très rapidement.<br /><br />
        <!-- <strong>Un email de confirmation vient de vous être envoyé.</strong> -->
      </p>
      <a href="/" class="button button-red thanks__cta">Retour à l’accueil</a>
    </div>
    </section>
  </main>
</BaseLayout>
