---
// src/pages/program.astro
import BaseLayout from "@layouts/BaseLayout.astro";
---
<BaseLayout
  title="À propos de SBG Coaching | Bien-être, performance et rigueur"
  description="SBG Coaching, spécialiste du coaching sportif à Huy, vous accompagne avec rigueur et bienveillance. Découvrez sa mission, ses valeurs et son approche centrée sur l'humain."
  pageClass="page"
  dataPage="program"
  dataModules="links faq"
  dataVariant="white"
  seo={{
    url: "https://sbgcoaching.be/programme",
    /* image: "/img/og-about.webp", */ // modifiable
    schemaType: "LocalBusiness"
  }}
>
  <main id="main-content">
    <div class="wrapper-1440-black">
	<section class="program__hero">
		<h1>
			<span>À</span> <span> </span><span>v</span><span>e</span><span>n</span><span>i</span><span>r</span>
		</h1>
	</section>
    </div>
  </main>
</BaseLayout>
