---
import BaseLayout from "@/layouts/BaseLayout.astro";
import AppointmentForm from "@/js/forms/rdv/AppointmentForm.tsx";
---

<BaseLayout title="Prendre Rendez-vous | SBG Coaching" dataPage="rdv">
  <main class="container" style="padding-top: 2rem; padding-bottom: 2rem;">
    <AppointmentForm client:load />
  </main>
</BaseLayout>
