.social {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
  
	li {
	  display: inline-flex;
  
	  &:not(:last-child) {
		margin-right: 1.2rem;
	  }
  
	  a.social__link {
		display: inline-flex;
		align-items: center;
  
		img {
		  width: 1.5rem;  // 30px
		  height: 1.5rem;
		  object-fit: contain;
		  display: block;
		}
	  }
	}
  }