// ===============================
// RESET CSS
// ===============================

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%; // 16px par défaut
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%; // Empêche l’agrandissement auto sur iOS
}

body {
  min-height: 100vh;
  font-family: $font-primary;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea,
select {
  font: inherit; // Hérite de la police du body
  cursor: pointer;
}

button{
  box-shadow: none;
  border: transparent;
}

ul,
ol {
  list-style: none;
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

code,
pre {
  font-family: 'Courier New', monospace;
}

// ===============================
// ACCESSIBILITÉ
// ===============================

:focus {
	
  outline: none;
}
  
:focus:not(:focus-visible) {
	outline: none;
}
  
:focus-visible {
	
  outline: none;
}

textarea{
    resize: none;
}

/* Pour Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Pour Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input,
  textarea {

    &:focus, &:focus-visible, &:hover {
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.25);
      transition: box-shadow 0.3s ease-in-out, 
    }
  }